form.register-wthree .form-control {
  padding: 15px 20px;
  border: 1px solid #dbdde2;
  border-radius: 0;
  -webkit-box-shadow: 2px 8px 10px 0 rgba(50, 46, 46, 0.23);
  -moz-box-shadow: 2px 8px 10px 0 rgba(50, 46, 46, 0.23);
  box-shadow: 2px 8px 10px 0 rgba(50, 46, 46, 0.23);
  letter-spacing: 1px;
}
.form-group {
  font-weight: 700;
  color: #26752b;
}
.lol {
  text-align: center !important;
  font-weight: 700;
  color: #26752b !important;
}
.lol a {
  color: #26752b !important;
}
.contact-form-layouts {
  padding: 2em;
  border: 20px solid #eee;
  border-radius: 20px;
}
.cont-form {
  margin: 1em 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.7em;
  color: #26752b;
}
h3 {
  color: #26752b;
}
.alert {
  border-radius: 10px;
  font-family: lucida sans, lucida sans regular, lucida grande,
    lucida sans unicode, Geneva, Verdana, sans-serif;
  background: #26752b;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}
.studentinfo{
  border:1px solid #DDDDDD;
  -webkit-border-radius:5px;
  -moz-border-radius:10px;
  border-radius:10px;
  box-shadow: 6px 6px 6x rgba(0, 0, 0, 0.3);
  margin-top: 3%;
}			
.hmp {
  padding-top: 9%;
}
.list-group {
  padding-bottom: 10%;
}
.stn {
  text-align: center;
}
.button {
  text-align: center;
}
@media screen and (max-width: 568px) {
  h5.cont-form {
    margin: 0 0 1em;
  }
  h5.cont-form {
    font-size: 1.5em;
  }
  .paxmp {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
  }
}
@media screen and (max-width: 414px) {
  .contact-form-layouts {
    margin-top: 10%;
    padding: 0.5em;
    border: 4px  #eee;
  }
  form.register-wthree .form-control {
    padding: 7px 20px;
    font-size: 0.85em;
  }
}
                                                      
